.idea/
/packages/
riderModule.iml
/_ReSharper.Caches/

.DS_Store

*.suo
*.user
*.userosscache
*.sln.docstates

# Build output
bin/
obj/
out/
*.dll
*.exe
*.pdb
*.cache
*.ilk
*.sbr
*.tlog
*.csproj.user


logs/
*.log
